.Post {
  background-color: aliceblue;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.Post__publish {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.Post__delete {
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
}

.Post__header-container h4 {
  font-size: 12px;
}